<%- include("template/cabecera", {tituloweb: 'contactos' }) %>

  <div class="container">
    <h1>
      <%= listaContactos %>
    </h1>

    <a class="btn btn-success btn-block my-4 form-control" href="contactos/crear">
      Crear nuevo contacto
    </a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Telefono</th>
        </tr>
      </thead>
      <tbody>

        <% if (Items.length> 0) { %>
          <% Items.forEach(contacto=> { %>
            <tr>
              <th scope="row">
                <%= contacto.id %>
              </th>
              <td>
                <%= contacto.name %>
              </td>
              <td>
                <%= contacto.email %>
              </td>
              <td>
                <%= contacto.last_name %>
              </td>
              <td>
                <%= contacto.phone %>
              </td>
              <td>
                <a class="btn btn-warning btn-sm" href="contactos/<%= contacto.id %>">
                  Editar
                </a>
              </td>
            </tr>
            <% }) %>
              <% } %>
      </tbody>
    </table>
  </div>


  <%- include("template/footer") %>